---
import "../../css/styles.css";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import Font from "../../components/Font.astro";
import Seo from "../../components/Seo.astro";

const title = "SYFF Archive • Scottish Youth Film Foundation";
const description =
  "Have you or someone you know worked on a SYFF video project in the past? Want to see the kind of films our young participants have been producing? You can find past videos in our film archive here.";
const permalink = "https://syff.scot/archive";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container">
        <h1 class="headline">Archive</h1>
        <p>Projects from the past!</p>
        <ul>
          <li><a href="/archive/cop-tv">COP TV</a></li>
        </ul>
      </section>
    </main>

    <Footer />
  </body>
</html>
