---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import VimeoEmbed from "../components/VimeoEmbed.astro";
import YouTubeEmbed from "../components/YouTubeEmbed.astro";
import SwiperSlides from "../components/SwiperSlides.astro";
import Seo from "../components/Seo.astro";

const title = "Festival • Scottish Youth Film Foundation";
const description =
  "The Scottish Youth Film Festival is a celebration of the creativity of Scotland’s young filmmakers. Each year, we screen the best films shortlisted from work submitted from across the country and give out awards for best live action, documentary and animation films for age ranges 12 and under and 13-19. Everything is free of charge and there’s workshops, panels and talks with industry professionals, where you can get some hands-on experience of film no matter what your experience level… come along and have a go!";
const permalink = "https://syff.scot/festival/";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />
  </head>
  <body id="top">
    <Navigation />

    <header style="text-align: center">
      <img src="/img/festival-billboard.jpg" alt="montage of festival images" />
    </header>

    <main id="content">
      <section class="container narrow">
        <h1 class="headline">Festival 2024</h1>

        <p>
          The submissions are in, the judges have judged, and we can finally
          announce the winners of the 10th edition of the Scottish Youth Film
          Festival.
        </p>

        <br />

        <img src="/img/12-and-under-winners.jpg" alt="12 and under winners" />

        <br />

        <img src="/img/13-18-winners.jpg" alt="13 to 18 winners" />

        <br />

        <img src="/img/19-26-winners.jpg" alt="19 to 26 winners" />

        <br />
      </section>

      <section
        class="container narrow"
        style="background-color: var(--color-light-grey);"
      >
        <VimeoEmbed videoId="1020737057" />
      </section>

      <section class="container narrow">
        <h2 class="text-center">Praise For The Festival</h2>

        <SwiperSlides>
          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “Professional, heartwarming and planting seeds for the future in
                so many ways.”
                <span>- Tim Flood, Filmmaker</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “This is a great film festival for young people, it does not try
                to be grand or exclusive. It encourages all the young people it
                can reach, to take part and learn something or take something
                positive away.”
                <span>- Lee Vann Wakelin, Filmmaker</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “All the young people I've worked with, whose films have
                featured in the festival, really get a lot out of taking part.
                Well done to everyone involved in making this a highlight of the
                year in film education in Scotland.”
                <span>- Kevin Cameron, Filmmaker</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                First class. Not just a film festival. Two days crammed full of
                lots of young film students taking advantage of high quality
                workshops prior to the awards. Brilliant idea.”
                <span>- Graham Kitchener, Filmmaker</span>
              </p>
            </blockquote>
          </div>
        </SwiperSlides>
      </section>
    </main>

    <Footer />
  </body>
</html>
