---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import VimeoEmbed from "../components/VimeoEmbed.astro";
import YouTubeEmbed from "../components/YouTubeEmbed.astro";
import SwiperSlides from "../components/SwiperSlides.astro";
import Seo from "../components/Seo.astro";

const title = "Festival • Scottish Youth Film Foundation";
const description =
  "The Scottish Youth Film Festival is a celebration of the creativity of Scotland’s young filmmakers. Each year, we screen the best films shortlisted from work submitted from across the country and give out awards for best live action, documentary and animation films for age ranges 12 and under and 13-19. Everything is free of charge and there’s workshops, panels and talks with industry professionals, where you can get some hands-on experience of film no matter what your experience level… come along and have a go!";
const permalink = "https://syff.scot/festival/";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />
  </head>
  <body id="top">
    <Navigation />

    <header style="text-align: center">
      <img style="width: 1440px" src="/img/festival-2025-website-banner.jpg" alt="banner for the 2025 Scottish Youth Film Festival" />
    </header>

    <main id="content">
      <section class="container narrow">
        <h1 class="headline">The Scottish Youth Film Festival is coming to Fife for its 11th year!</h1>

        <p>Join us at the Dunfermline Learning Campus for a weekend of industry professional-led workshops, talks, panels, 1-1 chats, film & TV exhibitors, and of course film screenings and awards!</p>

        <p>There will be a special evening event for filmmakers aged 19-26 on <strong>Friday 3rd October</strong>, followed by the main festival day on <strong>Saturday 4th October</strong>, where those aged 12-26 are welcome. There will be something for everyone, whether you're just starting to explore the world of film or on the path into the industry.</p>

        <p><strong>The event is FREE to attend</strong>. There may be walk-in availability on the day, but this will be limited, so we strongly encourage booking in advance to secure your spot.</p>

        <p>Tickets are now available for the first day of this year's Scottish Youth Film Festival! 🎉🎬🍿</p>

        <p>Aged 19-26? Join us from 6:00pm - 9:00pm on Friday 3rd October for an exclusive evening of films, industry tips and networking.</p>

        <ul>
          <li>Chat to industry pros in a relaxed, friendly and accessible environment.</li>
          <li>Meet other Scottish filmmakers... (and potential future collaborators!).</li>
          <li>Celebrate the hard work and creativity of the young Scottish film community.</li>
          <li>Watch an excellent selection of short films, made by 19-26 year olds in Scotland.</li>
        </ul>

        <h2>SCHEDULE</h2>

        <p>6:00pm - 6:30pm: Meet and mingle with fellow filmmakers and attendees over nibbles and soft drinks (Vegan & gluten free options available).</p>

        <p>6:30pm - 7:30pm: "In Conversation" and Q&A with a special industry guest, Director John McPhail (Anna & the Apocalypse, Dear David, Grow). Hosted by Producer Lauren Lamarr (Anna & The Apocalypse, Mogwai: If The Stars Had a Sound, California Schemin’).</p>

        <p>7:45pm - 9:00pm: Screening of shortlisted films in the 19-26 age category and awards ceremony!</p>

        <p>Get your FREE ticket here: <a href="https://buytickets.at/scottishyouthfilmfoundation/1712725">https://buytickets.at/scottishyouthfilmfoundation/1712725</a></p>

        <p>*****</p>

        <p>👀 Stay tuned for upcoming release of tickets for day 2 of the festival, which is suitable for all young people aged 12 - 26. There will be something for everyone, with workshops and talks for those just beginning to explore the world of film, to those on the path into the industry!</p>

      </section>

      <section
        class="container narrow"
        style="background-color: var(--color-light-grey);"
      >
        <YouTubeEmbed videoId="IWSf6WXAcuU" />
      </section>

      <section class="container narrow">
        <h2 class="text-center">Praise For The Festival</h2>

        <SwiperSlides>
          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “It was very inclusive and fun, I would love to return next year!!”
                <span>- Maja, Festival Attendee</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “It was great to hear from real down to earth industry professionals who are living the dream, makes you feel like it could be you one day.”
                <span>- Alice, Festival Attendee</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “Professional, heartwarming and planting seeds for the future in
                so many ways.”
                <span>- Tim Flood, Filmmaker</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “This is a great film festival for young people, it does not try
                to be grand or exclusive. It encourages all the young people it
                can reach, to take part and learn something or take something
                positive away.”
                <span>- Lee Vann Wakelin, Filmmaker</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “All the young people I've worked with, whose films have
                featured in the festival, really get a lot out of taking part.
                Well done to everyone involved in making this a highlight of the
                year in film education in Scotland.”
                <span>- Kevin Cameron, Filmmaker</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                First class. Not just a film festival. Two days crammed full of
                lots of young film students taking advantage of high quality
                workshops prior to the awards. Brilliant idea.”
                <span>- Graham Kitchener, Filmmaker</span>
              </p>
            </blockquote>
          </div>
        </SwiperSlides>
      </section>
    </main>

    <Footer />
  </body>
</html>
