---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import VimeoEmbed from "../components/VimeoEmbed.astro";
import Font from "../components/Font.astro";
import Seo from "../components/Seo.astro";

const title = "Films of Scotland • Scottish Youth Film Foundation";
const description =
	"The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film.";
const permalink = "https://syff.scot/filmsofscotland/";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <Font />

        <Seo
            title={title}
            description={description}
            permalink={permalink}
            image={image}
            alt={alt}
            type={type}
        />
    </head>
    <body id="top">
        <Navigation />

        <header class="hero">
            <img
                src="/img/films-of-scotland.jpg"
                alt="Films of Scotland vintage splash screen"
            />
        </header>

        <main id="content">
            <section class="container narrow">
                <h1 class="headline">Films of Scotland</h1>

                <p class="lede">Deadline extended to 14th February 2025.</p>

                <p class="lede">Two prizes of £250 each for the best films.</p>

                <p class="lede">Best films announced at event in Chambers Street Museum on March 29th.</p>

                <p>Calling Scotland’s young filmmakers!</p>

                <p>
                    Are you aged 26 and under? We want to see your films about
                    today’s Scotland. The culture, the landscape, the people,
                    the food... whatever inspires you.
                </p>

                <p>
                    We’re looking for your films about modern day Scotland. They
                    can be about any subject you like and can be in any form,
                    documentary, animation, drama, experimental… They should be
                    five minutes or under and deadline for submissions is 31st
                    January 2025.
                </p>

                <p>
                    Submission is completely free. Head to the Film Freeway page
                    to upload your film -
                    <a
                        href="https://filmfreeway.com/filmsofscotland"
                        target="_blank"
                        >https://filmfreeway.com/filmsofscotland</a
                    >
                </p>

                <p>
                    The best films will be shortlisted and shown at a special
                    event in March 2025 in the National Museum of Scotland in
                    Chambers Street, and prizes awarded. Winning films will be
                    placed in the National Library of Scotland Moving Image
                    Archive, as part of Scotland’s story for future generations.
                </p>

                <p>
                    Our competition is inspired by the original Films of
                    Scotland, which ran from 1938 until 1982.
                </p>

                <VimeoEmbed videoId="990508309" />
                <br />
                <h2>The Original Films of Scotland</h2>

                <p>
                    Back in 1938, the Empire Exhibition was held in Glasgow and
                    to promote Scotland, a committee was formed and 7 films were
                    commissioned to showcase Scotland. These initial Films of
                    Scotland were seen by vast audiences both nationally and
                    internationally.
                </p>

                <p>
                    Films of Scotland re-formed after the war and ran until
                    1982. Well known Scottish filmmakers like Bill Forsyth,
                    Charlie Gormley, Murray Grigor and Iain Smith worked on
                    them, and they form an incredible archive of Scotland's
                    moving image culture.
                </p>

                <p>
                    You can find out more about the original Films of Scotland,
                    and watch the films here:
                    <a
                        href="https://www.nls.uk/exhibitions/cinema/films-of-scotland/"
                        target="_blank"
                        >https://www.nls.uk/exhibitions/cinema/films-of-scotland/</a
                    >
                </p>
                <br />
                <h2>Resources</h2>

                <p>
                    The films below have been specially produced to give
                    teachers, tutors, youth group leaders and young people the
                    opportunity to explore the background to the original Films
                    of Scotland, hear from some of the people involved and see
                    how these films shaped the modern Scottish film industry.
                    There is also a clip explaining how to download and use the
                    archive clips (which can be found <a href="#archive"
                        >below</a
                    >).
                </p>

                <br />

                <h3>
                    Films of Scotland - Past and Future - A comprehensive look
                    at the original Films and some advice on what to produce.
                </h3>

                <VimeoEmbed videoId="1020147465" />

                <br />

                <h3>
                    What are Films of Scotland - A short summary of what the
                    original Films of Scotland were.
                </h3>

                <VimeoEmbed videoId="1020152821" />

                <br />

                <h3>
                    Making New Films of Scotland - What we're looking for from a
                    new generation of filmmakers.
                </h3>

                <VimeoEmbed videoId="1020152453" />

                <br />

                <h3>
                    Using Archive Footage - How to download and use the archive
                    clips.
                </h3>

                <VimeoEmbed videoId="1020153298" />
            </section>

            <section
                class="container"
                style="background-color: var(--color-light-grey);"
            >
                <div class="grid links">
                    <div>
                        <img
                            style="margin-bottom: 0;"
                            class="shadow"
                            src="/img/films-of-scotland-poster.jpg"
                            alt="Films of Scotland poster English"
                        />
                    </div>
                    <div>
                        <img
                            style="margin-bottom: 0;"
                            class="shadow"
                            src="/img/films-of-scotland-gaelic.jpg"
                            alt="Films of Scotland poster Gaelic"
                        />
                    </div>
                    <div>
                        <img
                            style="margin-bottom: 0;"
                            class="shadow"
                            src="/img/films-of-scotland-scots.jpg"
                            alt="Films of Scotland poster Scots"
                        />
                    </div>
                </div>
            </section>

            <section class="container narrow">
                <h2 id="archive">Archive Clips</h2>

                <p>
                    The clips below are from some of the original films and you
                    can download and use them for your own films if you’d like.
                </p>

                <p class="lede">
                    We want the voices of Scotland’s young people to form the
                    reimagined Films of Scotland for the modern age. Don’t miss
                    your chance to be a part of an exciting time in Scotland’s
                    film history!
                </p>

                <VimeoEmbed videoId="1009785758" />

                <VimeoEmbed videoId="1009785419" />

                <VimeoEmbed videoId="1009785337" />

                <VimeoEmbed videoId="1009785250" />

                <VimeoEmbed videoId="1009831656" />

                <VimeoEmbed videoId="553398723" />

                <VimeoEmbed videoId="553396746" />

                <VimeoEmbed videoId="1009785854" />

                <VimeoEmbed videoId="553396002" />

                <VimeoEmbed videoId="1009785100" />

                <br />

                <h2 id="archive">VisitScotland Clips</h2>

                <p>
                    Thanks to VisitScotland for making these incredible clips available for download and use in the competition. If you use any of the footage in these clips, please keep a note of it.
                </p>

                <VimeoEmbed videoId="1037520584" />

                <VimeoEmbed videoId="1037521224" />

                <VimeoEmbed videoId="1037521673" />

                <VimeoEmbed videoId="1037522512" />

                <br />

                <h2>Audio Clips</h2>

                <p>
                    Please also find below some audio clips you can download and
                    incorporate into your films, please do note where you use
                    any archive clips.
                </p>

                <br />

                <p>
                    <strong
                        >1. A field recording of a folk band playing dance music
                        NLS_SOC-8-3-1-03_s1_f01_v1</strong
                    >
                </p>

                <p>
                    A recording made by Christopher Mylne in February 1978 of an
                    unidentified band playing to a group of dancers in Shetland.
                </p>

                <audio controls>
                    <source
                        src="/audio/A field recording of a folk band playing dance music NLS_SOC-8-3-1-03_s1_f01_v1.mp3"
                        type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                </audio>

                <br /><br /><hr /><br />

                <p>
                    <strong
                        >2. Blackbird and Cuckoo, Scotland, 1978
                        NLS_SOC-8-3-1-04_s1_f01_v1</strong
                    >
                </p>

                <p>
                    A recording made by Christopher Mylne in 1978 of blackbirds
                    and cuckoos on Fair Isle.
                </p>

                <audio controls>
                    <source
                        src="/audio/Blackbird and Cuckoo, Scotland, 1978 NLS_SOC-8-3-1-04_s1_f01_v1.mp3"
                        type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                </audio>

                <br /><br /><hr /><br />

                <p>
                    <strong
                        >3. Blackcocks, Peesweeps, Grouse, Carrion Crow, etc.
                        Scotland, 1964 NLS_SOC-8-1-1-01_s1_f01_v1</strong
                    >
                </p>

                <p>
                    A recording made by William Brotherson of birds at Garvald
                    Farm, Haugh Field, Scottish Borders in 1964.
                </p>

                <audio controls>
                    <source
                        src="/audio/Blackcocks, Peesweeps, Grouse, Carrion Crow, etc. Scotland, 1964 NLS_SOC-8-1-1-01_s1_f01_v1.mp3"
                        type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                </audio>

                <br /><br /><hr /><br />

                <p>
                    <strong
                        >4. Footsteps, knock at the door, door opening and
                        closing NLS_SOC-8-3-1-03_s1_f01_v1</strong
                    >
                </p>

                <p>
                    A recording made by Christopher Mylne in 1978 of an
                    unidentified person walking and opening a door on Fair Isle.
                </p>

                <audio controls>
                    <source
                        src="/audio/Footsteps, knock at the door, door opening and closing NLS_SOC-8-3-1-03_s1_f01_v1.mp3"
                        type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                </audio>

                <br /><br /><hr /><br />

                <p>
                    <strong
                        >5. Sheep Farm soundscape NLS_SOC-8-3-1-04_s1_f01_v1</strong
                    >
                </p>

                <p>
                    A recording made by Christopher Mylne in 1978 of people
                    herding sheep on a Fair Isle farm.
                </p>

                <audio controls>
                    <source
                        src="/audio/Sheep Farm soundscape NLS_SOC-8-3-1-04_s1_f01_v1.mp3"
                        type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                </audio>

                <br /><br /><hr /><br />

                <p>
                    <strong
                        >6. Shetland pier noise NLS_SOC-8-3-1-03_s1_f01_v1</strong
                    >
                </p>

                <p>
                    A soundscape recording made by Christopher Mylne in February
                    at a Shetland pier.
                </p>

                <audio controls>
                    <source
                        src="/audio/Shetland pier noise NLS_SOC-8-3-1-03_s1_f01_v1.mp3"
                        type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                </audio>

                <br /><br /><hr /><br />

                <p>
                    <strong
                        >7. William Brotherston driving away from Fala Flow
                        NLS_SOC-8-1-1-04_s2_f01_v1</strong
                    >
                </p>

                <p>
                    A field recording of William Brotherston starting his car
                    and leaving Fala Flow loch. Recording in March 1964.
                </p>

                <audio controls>
                    <source
                        src="/audio/William Brotherston driving away from Fala Flow NLS_SOC-8-1-1-04_s2_f01_v1.mp3"
                        type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                </audio>

                <br /><br /><hr /><br />

                <p>
                    <strong
                        >8. George D. Campbell - “The Queer Folk O’ The Shaws”</strong
                    >
                </p>

                <p>
                    Traditional song arranged by accordionist Jack Kynoch and
                    performed by Comedian George D. Campbell. Released on
                    Beltona Records in 1934.
                </p>

                <audio controls>
                    <source
                        src="/audio/The Queer folk o the shaws 1934 DM-78Rec-Beltona-BL-2238_s2_Quee_v1.mp3"
                        type="audio/mpeg"
                    />
                    Your browser does not support the audio element.
                </audio>

                <br /><br /><hr /><br />

                <p>
                    N.B. Clips 1-7 are taken from the Scottish Ornithologists
                    Club Collection (UNLS009) and have a CC-BY-NC licence
                    applied.
                </p>

                <p>
                    Clip 8 is an arrangement of a traditional song. The rights
                    status will be determined by the death dates of the arranger
                    (Kynoch)
                </p>

                <p>
                    <a
                        href="https://www.britishcopyright.org/information/information-copyright-basics/"
                        >https://www.britishcopyright.org/information/information-copyright-basics/</a
                    >
                </p>
            </section>
        </main>

        <Footer />
    </body>
</html>
