---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import YouTubeEmbed from "../components/YouTubeEmbed.astro";
import VimeoEmbed from "../components/VimeoEmbed.astro";
import Seo from "../components/Seo.astro";

const title = "History of SYFF • Scottish Youth Film Foundation";
const description =
  "When was the Scottish Youth Film Foundation (SYFF) formed as a charity? What have we been up to to-date? Check out the milestones on our journey from formation to the present day.";
const permalink = "https://syff.scot/history-of-syff";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container">
        <h1 class="headline">History of SYFF</h1>

        <p class="lede">
          Formed as the Scottish Youth Film Festival in early 2015. The festival
          has run every year since blah, blah...
        </p>

        <div class="year-wrap">
          <span class="year">2015</span>
          <div>
            <h3>The inaugural Festival is held in Armadale Academy</h3>
            <p>Best Film - Darth Vader at Home</p>
            <YouTubeEmbed videoId="FL3BObLKySw" />
          </div>
        </div>

        <div class="year-wrap">
          <span class="year">2016</span>
          <div>
            <h3>Festival held in Armadale Academy</h3>
            <p>Best Film - Samantha Glamorous</p>
          </div>
        </div>

        <div class="year-wrap">
          <span class="year">2017</span>
          <div>
            <h3>Festival held in Moving Image Archive, Glasgow</h3>
            <p>Best Film - The Bear Necessity</p>
          </div>
        </div>

        <div class="year-wrap">
          <span class="year">2018</span>
          <div>
            <h3>Festival held in Moving Image Archive, Glasgow</h3>
            <p>Best Film - James meet Isaac</p>
            <p>
              Also in 2018, we ran our first separate film competition, What
              Scotland Means to Me. Watch the entry montages and winning films
              here
            </p>
          </div>
        </div>

        <div class="year-wrap">
          <span class="year">2019</span>
          <div>
            <h3>Festival held at Edinburgh Climate Change Institute</h3>
            <p>
              From 2019, rather than have only one best film, we decided to
              award Best Films for each age category.
            </p>
            <p>Best Films - Crime time (12 and Under), The Call (13-19)</p>
          </div>
        </div>

        <div class="year-wrap">
          <span class="year">2020</span>
          <div>
            <h3>Festival broadcast online from Lyra in Craigmillar</h3>
            <p>
              Best Films - Scottish Whispers (12 and under) Stop/ Start (13-19)
            </p>
            <p>
              With the pandemic came lockdown and our Home film competition
              where we asked Scotland&rsquo;s young people to make a film with
              the theme of home.
            </p>
          </div>
        </div>

        <div class="year-wrap">
          <span class="year">2021</span>
          <div>
            <h3>
              First hybrid festival from Edinburgh Climate Change Institute
            </h3>
            <p>
              Best Films - Scottish Bake Off (12 and Under), The Run Home
              (13-19)
            </p>
            <p>
              The year COP 26 came to Glasgow and SYFF ran the COP TV project.
              We also opened a film competition called Change and the
              shortlisted films were shown at a special event in the Science
              Centre as part of the Official Cop 26 programme.
            </p>

            <VimeoEmbed videoId="591633545" />
          </div>
        </div>

        <div class="year-wrap">
          <span class="year">2022</span>
          <div>
            <h3>Festival held at The Bridge, Dumfries</h3>
            <p>
              Best Films - Ready or Not (12 and Under), Strange Journey (13-19)
            </p>
            <p>
              Our second climate related film competition, Films for our Future
              was run and the winners were presented with prizes at the premiere
              of our COP26 documentary &lsquo;This is COPTV&rsquo;
            </p>
          </div>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
