---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import VimeoEmbed from "../components/VimeoEmbed.astro";
import Seo from "../components/Seo.astro";

const title = "Scottish Youth Film Foundation";
const description =
  "The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film.";
const permalink = "https://syff.scot";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "website";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />

    <script
      src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
  </head>
  <body id="top">
    <Navigation />

    <header class="hero">
      <img
        src="/img/header-home-desktop.jpg"
        alt="Young people on our COP TV project"
      />
    </header>

    <main id="content">
      <section class="container narrow">
        <h1 class="headline">
          Improving the life outcomes of young Scots through film
        </h1>
        <p class="lede">
          Learning through film and learning using film allows young people to
          get to grips with the main form of communication in the 21st century.
          It unlocks the literacy of film and moving image allowing young people
          to understand how to interpret a film text. It&rsquo;s the ABCs of
          visual storytelling. Learners are encouraged to discuss and
          interrogate different texts, such as adverts, clips, short films and
          features and to go on to produce their own work using this knowledge.
        </p>

        <p>
          All of our work in schools and during outreach projects allows this
          interaction. For young people who are interested in taking this
          further, we can offer pathways to further learning and directly to
          industry. Many of the young people we work with go on to pursue
          creative careers. Our work allows young people to safely explore these
          options with the support of SYFF.
        </p>

        <p>
          We are proud to be supported by The Sean Connery Foundation and Screen Scotland. This increases our operational capacity, allowing SYFF to develop screen education efforts in our three areas of focus: film education in schools, film outreach projects that reach students in need, and the production of the annual Scottish Youth Film Festival.
        </p>
        <div class="funders">
          <img
            src="/img/scf-logo.png"
            alt="Sean Connery Foundation logo"
          />
          <img
            src="/img/screen-scotland-logo-rgb.png"
            alt="Screen Scotland logo"
          />
        </div>
      </section>

      <figure class="container quote">
        <blockquote>
          <p>
            “My dad&rsquo;s career in the film industry happened by accident and
            changed the trajectory of his life. Discovering the crafts and
            trades of filmmaking, beyond acting and directing, should not be
            reserved only for the rich, well-connected or lucky ones. And,
            making and discerning screen-based storytelling is nothing short of
            a vital 21st-century skill. It builds creativity, agency and voice,
            project management skills and empathy, to name just a few.
            Supporting SYFF, and screen education more generally, as a focus of
            our foundation is an exciting and natural expression of my
            father&rsquo;s legacy that we hope will help to prepare the young
            Scottish people for the future that lies ahead,”
          </p>
        </blockquote>
        <figcaption>&ndash; SYFF Patron Jason Connery</figcaption>
      </figure>

      <section class="container">
        <h2>
          We are a film charity - so why just read about us when you can watch a
          film?
        </h2>

        <div class="grid">
          <VimeoEmbed videoId="833346056" />

          <VimeoEmbed videoId="833347550" />
        </div>
      </section>

      <section
        class="container"
        style="background-color: var(--color-light-grey);"
      >
        <h2>What Do We Do?</h2>
        <div class="grid links">
          <div>
            <img
              class="shadow"
              src="/img/festival-winners-2025-thumb.jpg"
              alt="Film festival winners"
            />
            <h3>Festival</h3>
            <p>
              Since 2015, we have held an event to celebrate the creativity of
              young Scottish filmmakers. Featuring screenings, workshops, talks
              and panels, this is where anyone can come along and find out about
              the world of film.
            </p>
            <a href="/festival/" class="btn">Learn More</a>
          </div>

          <div>
            <img
              class="shadow"
              src="/img/outreach-thumb.jpg"
              alt="Outreach project at Armadale Academy"
            />
            <h3>Outreach</h3>
            <p>
              Throughout the year, we work with youth groups and produce short
              films. Projects target young people who would have difficulty
              accessing film and the film making process.
            </p>
            <a href="/outreach/" class="btn">Learn More</a>
          </div>

          <div>
            <img
              class="shadow"
              src="/img/education-thumb.jpg"
              alt="Into Film, The Bridge, Dumfries"
            />
            <h3>Education</h3>
            <p>
              Working in schools, we teach pupils and teachers how to analyse
              films and how to produce their own work using the tools that they
              have in the classroom.
            </p>
            <a href="/education/" class="btn">Learn More</a>
          </div>
        </div>
      </section>

      <section class="container">
        <h2 class="text-center">Impact</h2>
        <p class="text-center">
          Since inception in 2015, SYFF have worked around Scotland. This is
          SYFF in numbers.<br>
          <a href="/img/Impact%20Report%202025.pdf" class="btn" target="_blank">View our 2025 Impact Report</a>
        </p>
        <br />
        <div class="grid stats">
          <div>
            <span>11</span> Festivals
          </div>
          <div>
            <span>16</span> School interventions
          </div>
          <div>
            <span>20+</span> Partner organisations
          </div>
          <div>
            <span>35+</span> Outreach projects
          </div>
          <div>
            <span>3800+</span> Young people worked with on education and outreach projects
          </div>
          <div>
            <span>2000+</span> Festival attendees
          </div>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
