---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import Seo from "../components/Seo.astro";

const title = "Into The Industry • Scottish Youth Film Foundation";
const description =
  "Are you a young person in Scotland looking to get into the film and TV industry? Check out our handy resources, useful links and explore our partner organisations who can help get you where you want to be!";
const permalink = "https://syff.scot/into-the-industry";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container">
        <h1 class="headline">Into The Industry</h1>
        <p class="lede">
          We're here to help young people understand film, allowing them to
          create their own work and help those who want to progress further into
          the industry.
        </p>
        <video class="video" controls>
          <source src="/video/into-the-industry.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </section>

      <section
        class="container"
        style="background-color: var(--color-light-grey);"
      >
        <h2>Useful Links</h2>
        <p>
          Scottish Youth Film Foundation works with partners across the screen
          sectors in Scotland. Below are links to our supporters and partners
          and other organisations that may be useful to you.
        </p>

        <p>
          <strong>Into Film</strong> - Into Film puts film at the heart of children
          and young people's education, helping to support their academic, cultural,
          and social development.<br />
          <a href="http://www.intofilm.org" target="_blank">www.intofilm.org</a>
        </p>

        <p>
          <strong>Scottish Film Education</strong> - Scottish Film Education is embarking
          on a major national CLPL initiative to develop in teachers the skills,
          abilities and pedagogical expertise required to employ Moving Image Education
          approaches effectively in teaching and learning.<br />
          <a href="http://scottishfilm.education/" target="_blank"
            >scottishfilm.education</a
          >
        </p>

        <p>
          <strong>Royal Conservatoire of Scotland</strong> - The Royal Conservatoire
          of Scotland (RCS) is a world-leading conservatoire of music, drama, dance,
          production and film located in Glasgow, Scotland.<br />
          <a href="http://www.rcs.ac.uk" target="_blank">www.rcs.ac.uk</a>
        </p>

        <p>
          <strong>Screen Academy Scotland</strong> - Courses in many aspects of film
          and film making<br />
          <a href="http://www.screenacademyscotland.ac.uk" target="_blank"
            >www.screenacademyscotland.ac.uk</a
          >
        </p>

        <p>
          <strong>National Library of Scotland - Moving Image Archive</strong>
          - The National Library of Scotland collects, preserves and promotes access
          to films capturing Scotland and her people, from the early days of film-making
          to the present day.<br />
          <a
            href="http://www.nls.uk/collections/moving-image-archive"
            target="_blank">www.nls.uk/collections/moving-image-archive</a
          >
        </p>

        <p>
          <strong>NFTS Scotland</strong> - Bringing the National Film and Television
          School's world-class training and innovation to Scotland.<br />
          <a href="http://nfts.co.uk/school/nfts-scotland" target="_blank"
            >nfts.co.uk/school/nfts-scotland</a
          >
        </p>

        <p>
          <strong>Screen Education Edinburgh</strong> - Screen Education Edinburgh
          is a charity dedicated to transforming lives through the medium of film,
          developing young people, new talent and independent filmmakers.<br />
          <a href="http://screen-ed.org" target="_blank">screen-ed.org</a>
        </p>

        <p>
          <strong>GMAC Film</strong> - GMAC Film a skills, talent &amp; project development
          centre for independent filmmakers and young people. We hire out space to
          film professionals &amp; creatives.<br />
          <a href="http://www.gmacfilm.com" target="_blank">www.gmacfilm.com</a>
        </p>

        <p>
          <strong>Station House Media Unit (SHMU)</strong> - Station House Media
          Unit (shmu), established as a charity in 2003, is one of the core cultural
          organisations in Aberdeen, and is at the forefront of Community Media development
          in Scotland.<br />
          <a href="http://www.shmu.org.uk" target="_blank">www.shmu.org.uk</a>
        </p>

        <p>
          <strong>Media Education</strong> - Media Education combines high quality
          filmmaking and facilitation skills with expertise in nurturing trust and
          working sensitively and supportively with people from a wide range of abilities
          and backgrounds.<br />
          <a href="http://mediaeducation.co.uk" target="_blank"
            >mediaeducation.co.uk</a
          >
        </p>

        <p>
          <strong>Plantation Productions</strong> - Plantation Productions is an
          arts and media charity based in Govan, Glasgow. Through creative participation
          we aim to improve wellbeing and address inequality.<br />
          <a href="http://www.plantation.org.uk" target="_blank"
            >www.plantation.org.uk</a
          >
        </p>

        <p>
          <strong>Further Education</strong><br />
          Many of Scotland’s universities and colleges also offer courses in different
          aspects of film. There are too many to list here but a Google search will
          uncover what’s out there.
        </p>

        <h3>Film Festivals</h3>

        <p>
          <strong>Edinburgh International Film Festival</strong> - World’s oldest
          continually running film fest. Hosts many events aimed at young people.<br
          />
          <a
            href="http://www.edfilmfest.org.uk/edinburgh-international-film-festival"
            target="_blank"
            >www.edfilmfest.org.uk/edinburgh-international-film-festival</a
          >
        </p>

        <p>
          <strong>Glasgow Film Festival</strong> - The Fest in the West.<br />
          <a href="http://glasgowfilm.org/glasgow-film-festival" target="_blank"
            >glasgowfilm.org/glasgow-film-festival</a
          >
        </p>

        <p>
          Scotland is home to a plethora of film festivals; everything from
          silent cinema to horror, features, animations and shorts. Again, there
          are too many to list here but keep a look out for what’s happening
          across the country as well as near you.
        </p>
      </section>
    </main>

    <Footer />
  </body>
</html>
