---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import Seo from "../components/Seo.astro";

const title = "Our Board • Scottish Youth Film Foundation";
const description =
  "SYFF are fortunate to have a team of knowledgeable, engaged board members. Our Board helps steer our strategic direction and brings incredible experience across all sectors of education, business and the film industry. You can find out more about them here.";
const permalink = "https://syff.scot/our-board/";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container">
        <h1 class="headline">Our Board</h1>
        <p class="lede">
          Our Board helps steer our strategic direction and bring incredible
          experience across all sectors of education, business and the film
          industry.
        </p>
        <br />

        <div class="patron">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/diane-henderson.jpg"
              alt="Diane Henderson"
            />
          </div>
          <div class="patron-text">
            <h2>Diane Henderson</h2>
            <p>
              Diane is a photography graduate (Napier University 1987), with
              extensive experience working within the arts sector in Scotland.
              She is currently employed as Associate Director of the French Film
              Festival UK. Established in 1992, the festival will this year
              celebrate its 30th Anniversary presenting French-speaking cinema
              in venues from Shetland to Plymouth and including an education
              programme throughout the UK.
            </p>
            <p>
              She also recently worked as Programme Manager for the Edinburgh
              International Culture Summit 2022, based at the Scottish
              Parliament. Founded by its director Sir Jonathan Mills in 2012,
              EICS is a partnership between the UK Government, the Scottish
              Government, the Scottish Parliament, The British Council and the
              Edinburgh International Festival. This unique event takes place
              every two years to an audience of international Culture Ministers
              and exists to promote positive change through cultural policy and
              investment across the globe.
            </p>
            <p>
              Previous roles include Deputy Artistic Director at the Edinburgh
              International Film Festival (2006 – 2020); four years as General
              Manager of Edinburgh’s iconic Cameo Cinema from 2000; Head of
              Development and Exhibitions at Edinburgh College of Art;
              Development Manager at Edinburgh’s Traverse Theatre, and Lecturer
              in Photography for Edinburgh City Council’s evening class
              programme.
            </p>
            <p>
              Diane continues to work on her own photography and has exhibited
              in various group exhibitions at home and abroad.
            </p>
            <p>
              “Over the years, cinema has taught me so much about the world we
              live in. Its ability to enrich and inform our lives is second to
              none. For hundreds of young people in Scotland each year, the
              Scottish Youth Film Foundation is their sole access point for
              learning about, screening and making films. I wish the foundation
              had existed when I was young and I am proud to serve as a board
              member for this unique and hugely impressive organisation”.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/lucy-lake.jpg"
              alt="Lucy Lake"
            />
          </div>
          <div class="patron-text">
            <h2>Lucy Lake</h2>
            <p>
              Lucy Lake, Director of People & Purpose at QTV, is a transformative leader endeavouring to shape the future of workforce development in Scottish Broadcasting. With strategic responsibility for sustainability, growth, and culture, she plays a critical role in driving QTV’s expansion while embedding its core values across the business.
            </p>
            <p>
              A champion of diversity and inclusion, Lucy leads initiatives to expand and diversify the talent pipeline in Scotland’s sports broadcasting sector, fostering sustainable and equitable industry growth. Her leadership has established QTV as a driving force for positive change within the company and across the wider industry.
            </p>
            <p>
              With over 18 years of executive experience in broadcast media, PR, and sales, Lucy is a dynamic leader whose strategic vision has consistently delivered measurable results, empowered teams, and cultivated lasting talent.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/emma-mortimore.jpg"
              alt="Emma Mortimore"
            />
          </div>
          <div class="patron-text">
            <h2>Emma Mortimore</h2>
            <p>
              Emma is currently Acting CEO of The Queen’s Hall music venue in Edinburgh. For many years she worked in film exhibition, setting up an award-winning community cinema in South East London whilst working at Met Film before moving to Edinburgh in 2011 to manage the Cameo Cinema. Since then she has produced HippFest, been a submissions viewer (documentary), Q&A host and hospitality co-ordinator for Edinburgh International Film Festival, a Short Film Judge for Hebden Bridge Film Festival and consulted on marketing for various film festivals and cinemas across Scotland and the north of England.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/steven-riley.jpg"
              alt="Steven Riley"
            />
          </div>
          <div class="patron-text">
            <h2>Steven Riley</h2>
            <p>
              Steve is a project and programme management professional, with
              over 20 years’ experience in delivering large, complex initiatives
              for clients in IT, construction, aviation and defence. Steve lives
              in Midlothian and enjoys photography, playing guitar and learning
              from his teenage son how little he knows about Minecraft. Or about
              operating the TV.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/lauren-lamarr.jpg"
              alt="Lauren Lamarr"
            />
          </div>
          <div class="patron-text">
            <h2>Lauren Lamarr</h2>
            <p>
              Lauren has been a Producer within the Pictures team at Blazing
              Griffin for 7 years, and has worked across many of their projects,
              including feature films “Anna and the Apocalypse”, “Runrig: There
              Must Be A Place”, and “Book of Love”.
            </p>
            <p>
              Previously, Lauren Produced numerous award winning indie short and
              feature films, including the road trip rom-com “Where Do We Go
              From Here”, whilst also worked within the production teams for
              severable notable UK film and TV companies including The Comedy
              Unit, Shed Media, Minnow Films, The Foundation TV, and STV
              Creative.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/annie-macrae.jpg"
              alt="Annie Macrae"
            />
          </div>
          <div class="patron-text">
            <h2>Annie Macrae</h2>
            <p>
              I have always had a passion for film and the creative arts and I
              am delighted to have an opportunity to support young people in
              Scotland by becoming a trustee on the SYFF board. I have an MA in
              Film and Visual Culture and I enjoyed working in film and
              television after I graduated. The work SYFF does would have been
              invaluable to me in helping to understand what a job in the
              Scottish film industry would look like, and I am excited to be
              involved in that work going forward.
            </p>
            <p>
              After I graduated, my career took a different path when I had an
              opportunity to join an organisation whose focus is energy saving
              and sustainability, which was always of interest to me. I work in
              a senior management role, leading on project management and
              delivery, where I have been able to make a valuable contribution
              to the energy saving sector in Scotland, working closely with the
              Scottish Government.
            </p>
            <p>
              I am determined to give back to the film industry by helping to
              support young Scottish people to follow their dreams, and to use
              my skills and experience to help SYFF achieve their aim to improve
              the life outcomes of young people in Scotland through film.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/sandra-morrison.jpg"
              alt="Sandra Morrison"
            />
          </div>
          <div class="patron-text">
            <h2>Sandra Morrison</h2>
            <p>
              I am a lecturer in Further Education specialising in business and
              finance. I know that not everyone has a great experience of
              education and I am on the board of SYFF as I am passionate that
              education should be for all and believe that film can help do this
              and that it should be used in educational establishments
              throughout Scotland. I also want to be part of opening doors in
              the film industry to young people from Scotland who would
              otherwise have not considered this sector as a career.
            </p>
          </div>
        </div>

        <div class="patron patron-reverse">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/raisah-ahmed.jpg"
              alt="Raisah Ahmed"
            />
          </div>
          <div class="patron-text">
            <h2>Raisah Ahmed</h2>
            <p>
              Raisah is a Scottish Asian Muslim Writer/Director, based in
              Glasgow, currently working across television and film. She has
              been shortlisted for the Sundance Screenwriters Lab twice - in
              2015 with Meet Me By The Water and in 2018 with Safar which is
              currently in development with Producer Zorana Piggott. She is in
              development with Zorana Piggott on a WW1 feature, Half-Moon Camp,
              for Film 4. Her writing credits include CBeebies shows Feeling
              Better, Molly & Mack and Control a BBC The Social phone drama and
              Aden’s Journey a short drama about a refugee unaccompanied minor
              for the Celcis course ‘Caring for Children on the Move’. Alumni of
              the EIFF Talent Lab 2014, Raisah had her first commissioned short
              as writer/director Meet Me By The Water premiere at EIFF 2016, it
              went on to be programmed by BBC Scotland’s ‘Next Big Thing’
              programme. She directed one of BBC 3’s The Break III, 2018, was a
              shadowing director on CBeebies Molly & Mack S2 and most recently
              directed on CBBC’s ‘Sparks’.
            </p>
          </div>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
