---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import Seo from "../components/Seo.astro";

const title = "Our Patrons • Scottish Youth Film Foundation";
const description =
  "Our patrons support us in a number of ways, giving their time and expertise to our young people and helping them to understand the film industry. Find out more about them and why they got involved with the Scottish Youth Film Foundation (SYFF) here.";
const permalink = "https://syff.scot/our-patrons/";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container">
        <h1 class="headline">Our Patrons</h1>
        <p class="lede">
          Our patrons support us in a number of ways, giving their time and
          expertise to our young people and helping them to understand the film
          industry.
        </p>
        <br />
        <div class="patron">
          <div class="patron-pic">
            <img class="shadow" src="/img/iain-smith.jpg" alt="Iain Smith" />
          </div>
          <div class="patron-text">
            <h2>Iain Smith</h2>
            <p>
              Born and raised in Glasgow, Iain is one of the UK&rsquo;s most
              experienced film producers. He has served on the boards of the UK
              Film Council, Scottish Screen, the Joint board of Creative
              Scotland, the Children&rsquo;s Film and Television Foundation. He
              has been a Governor of the National Film and Television School,
              Chair of the Edinburgh International Film Festival, the Film
              Industry Training Board and the Film Skills Council. Currently
              Chair of the British Film Commission, he is also a patron of the
              London Film School, sits on the Advisory Board of the Scottish
              Screen Media Academy, and the Media Academy Wales. He is a board
              member of Film London In 2005 he was awarded a BAFTA for
              Outstanding Achievement in Film, and was made an OBE by HM the
              Queen in 2008 for services to the film industry. He was awarded an
              Honorary Doctorate of Arts at Edinburgh Napier University, and an
              Honorary Doctorate of Letters at Queen Margaret University,
              Edinburgh. Iain Smith has produced many successful and award
              winning films around the world, including “The Killing Fields”,
              “The Mission”, “The Fifth Element”, “Children of Men”, “Spy Game”
              “Cold Mountain” and most recently the six times Oscar winning “Mad
              Max: Fury Road”
            </p>
            <h3>I&rsquo;m President Because…</h3>
            <p>
              I&rsquo;m President because I believe Scotland badly needs to
              serve the interests of it&rsquo;s young people better in finding
              creative and vocational opportunities in the media.
            </p>
          </div>
        </div>

        <div class="patron patron-reverse">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/jason-connery.jpg"
              alt="Jason Connery"
            />
          </div>
          <div class="patron-text">
            <h2>Jason Connery</h2>
            <p>
              Jason Connery has appeared in over 80 films, television movies and
              series, combined, since his breakthrough role as "Robin Hood" in
              the UK television series Robin of Sherwood in 1985.
            </p>
            <p>
              He has since had starring roles in many feature films including
              Return of the Thief of Baghdad, Bullet to Beijing, Macbeth, Urban
              Ghost Story, Shanghai Noon, Wishmaster 3 The Gates of Hell, and
              Night skies. He has also starred in Television Movies, Merlin,
              Spymaker The Secret Life of Ian Fleming, Lightspeed, Mountain of
              Diamonds, and many series, Smallville, Liberty&rsquo;s Kids, and
              Shoebox Zoo to name but a few.
            </p>
            <p>
              In 2015 he shot Tommy&rsquo;s Honour in Scotland and opened the
              Edinburgh International Film Festival in 2016 and won the Scottish
              BAFTA for Best Film later in the year. He has a number of other
              projects in development, “Of Corset&rsquo;s Mine” looks to be
              shooting in the spring of 2021. Connery has also been
              concentrating for the last 2 years on getting First Stage Studios
              in Leith, Edinburgh, up and running with his business partner Bob
              Last.
            </p>
            <h3>I&rsquo;m a Patron Because…</h3>
            <p>
              I feel that there is far too much emphasis put on how much or who
              has the right to tell stories on film. If I can help young Scots,
              in any way extinguish that belief and promote the idea that anyone
              can tell their stories and it doesn&rsquo;t have anything to do
              with money or right. It has to do with having fun, expressing
              themselves, telling their stories and not being hogtied by social
              constraints. That is why I am a SYFF Patron.
            </p>
          </div>
        </div>

        <div class="patron patron-reverse">
          <div class="patron-pic">
            <img class="shadow" src="/img/jack-lowden.jpg" alt="Jack Lowden" />
          </div>
          <div class="patron-text">
            <h2>Jack Lowden</h2>
            <p>
              Jack Lowden is a graduate of the Scottish Royal Academy of Music
              and Drama.
            </p>
            <p>
              Jack is currently starring in Apple TV's Slow Horses and will soon
              be seen as the lead in the BBC and Paramount+ drama series <em
                >The Gold</em
              >, directed by recent Oscar winner Aneil Karia (The Long Goodbye).
              Also on the horizon is <em>The Outrun</em>, which Jack has
              produced under his production banner, <em>Arcade Pictures</em>.
            </p>
            <p>
              Previous films include <em>Benediction</em>, for which Jack won
              his second Scottish BAFTA, <em>Dunkirk</em>,
              <em>Calibre</em>, <em>Mary Queen of Scots</em>, <em
                >Fighting with my Family</em
              > and <em>Tommy's Honour</em> (directed by fellow SYFF patron, Jason
              Connery).
            </p>
            <p>
              TV dramas include the aforementioned <em>Slow Horses</em>, <em
                >Small Axe</em
              > and <em>War and Peace</em>.
            </p>
            <p>
              Jack&rsquo;s breakthrough was in The National Theatre of
              Scotland&rsquo;s production of <em>Black Watch</em>.
            </p>

            <h3>I&rsquo;m a Patron Because…</h3>
            <p>
              Although I owe everything to stage, and the fantastic
              opportunities that were all around me growing up to be in amateur
              plays and youth theatre, that wasn't the same when it came to
              film. And that's where the majority of the work is now. So having
              something fantastic like SYFF available for young folk to get to
              grips with a film set early on is invaluable and something I wish
              I'd had.
            </p>
          </div>
        </div>

        <div class="patron patron-reverse">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/hiftu-quasem.jpg"
              alt="Hiftu Quasem"
            />
          </div>
          <div class="patron-text">
            <h2>Hiftu Quasem</h2>
            <p>
              Hiftu Quasem is a Scottish actress best known for her role as
              Misha in <em>Ten Percent (Amazon Prime Video)</em>.
            </p>
            <p>
              Hiftu has also appeared in the BBC&rsquo;s award-winning series <em
                >Killing Eve, The Witcher (Netflix), This is Going to Hurt
                (BBC), The Nest (BBC), Traces (BBC), and Endeavour (ITV)</em
              >.
            </p>
            <p>
              She began her acting career in a range of short films such as <em
                >Tehzeeb</em
              > and <em>Meet Me By The Water</em> (written and directed by SYFF board
              member Raisah Ahmed). Theatre credits include: <em
                >Miss Julie (Perth, Tron, and Edinburgh Festival Theatre)</em
              > and <em>At Home I Speak (Rich Mix Theatre)</em>.
            </p>
            <h3>I&rsquo;m a Patron Because…</h3>
            <p>
              I believe the arts industry should be more accessible to young
              people from underrepresented communities. SYFF encourages young
              Scots to enjoy being creative, explore filmmaking with confidence
              and help boost the next generation of talent.
            </p>
          </div>
        </div>

        <div class="patron patron-reverse">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/andrew-rothney.jpg"
              alt="Andrew Rothney"
            />
          </div>
          <div class="patron-text">
            <h2>Andrew Rothney</h2>
            <p>
              Andrew has worked across film, television and theatre. His credits
              include
            </p>
            <p>
              Television/ Film Credits: The Spanish Princess (Starz), The Victim
              (BBC), Catherine the Great (HBO/SKY), Outlander (Starz), Shetland
              (BBC), Holby City (BBC), Lost Girls and Love Hotels, Mary Queen of
              Scots, The Huntsman, The Matrix Resurrections, Traces (Series 2)
              and The Undeclared War (Channel 4)
            </p>
            <p>
              His theatre credits include The James Plays (NTS), Small Island
              (National Theatre)
            </p>
            <h3>I&rsquo;m a Patron Because…</h3>
            <p>
              Allowing young people to share their creativity and work towards a
              shared project is so important. The confidence it brings is
              priceless, by broadening their knowledge of film making, the
              industry and learning new skills.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/sara-vickers.jpg"
              alt="Sara Vickers"
            />
          </div>
          <div class="patron-text">
            <h2>Sara Vickers</h2>
            <p>
              Sara Vickers is an actor from Edinburgh. She was a member of the
              Lyceum Youth theatre whilst at school and moved to London in 2007
              to study at the Royal Academy of Dramatic Art. Since graduating
              she has worked extensively in television including The Watchmen
              (HBO), Guilt (BBC), Endeavour (ITV), Sunshine on Leith (DNA
              films), Mandown (CH4), The Alienist (TNT) and Shetland (BBC).
            </p>
            <h3>I&rsquo;m a Patron Because…</h3>
            <p>
              I am an SYFF patron because I believe they provide truly unique
              and invaluable opportunities. I never had the chance to experience
              camera work before being on a job and there is so much to learn.
              SYFF allows young people the opportunity to explore the complex
              filming process at a grassroots level. They provide a place of
              safety to get creative, experiment, have fun and make friends.
              SYFF have the power to inspire and instil confidence in
              Scotland&rsquo;s future film-makers.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img
              class="shadow"
              src="/img/douglas-mackinnon.jpg"
              alt="Douglas Mackinnon"
            />
          </div>
          <div class="patron-text">
            <h2>Douglas Mackinnon</h2>
            <p>
              Douglas Mackinnon is primarily a television drama director, and a
              sometimes executive producer and showrunner, whose credits include
              Sherlock, Line of Duty, Doctor Who, Outlander, and Good Omens.
              Shows he has directed have been nominated for and won Emmy’s,
              BAFTA’s and many other awards, and have also made a lot of people
              rich, which he’s only mildly bitter about. The Sherlock episode he
              directed won him the BAFTA Scotland award for Best Director and
              won the Emmy for Best TV Movie. He likes the directing bit more
              than the recognition bit, but knows that one feeds the other. The
              shows he’s worked on have had a range of audience sizes, including
              in the 204 countries that Good Omens went out to, or the 120,000
              people who once watched a documentary about the local newspaper on
              the Isle of Skye, where he’s from. He doesn’t know who watched
              Good Omens, but suspects he knows most of the 120,000 who watched
              the documentary.
            </p>
            <h3>I&rsquo;m a Patron Because…</h3>
            <p>
              I’m a patron because I’ve seen the resultant light in the eyes of
              some of the young people who SYFF help make films and I want to
              try and help more have that experience. I also want more people to
              know how easy and difficult it is to make films, and how much joy
              there is in finding that out.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img class="shadow" src="/img/kat-morgan.jpg" alt="Kat Morgan" />
          </div>
          <div class="patron-text">
            <h2>Kat Morgan</h2>
            <p>
              Kat started her career in Film and TV a little over 10 years ago,
              coming from an Arts background specifically in Oil Painting and
              Drawing before realising her passion for Hair and Make-Up Design.
              Kat started out as a Hair and Make Up Artist on Short Films and TV
              Series before designing her first feature film, LIMBO. Directed by
              Ben Sharrock and produced by Creative Scotland and Film4, LIMBO
              went on to make the Official Selection at Cannes, TIFF and LFF in
              2020 and received two BAFTA nominations, as well as many other
              awards and nominations. Kat then went onto design Ruth Paxton’s A
              BANQUET which was part of both London and Glasgow Film Festival
              official selections; and critically acclaimed BLUE JEAN with
              Director Georgia Oakley which was also nominated for a BAFTA,
              several BIFAs and screened at both LFF and TIFF in 2022. Most
              recently, Kat has designed Nora Fingscheidt’s THE OUTRUN, starring
              Saoirse Ronan, based on the best-selling novel of the same title
              and Mikko Makela’s SEBASTIAN both part of Sundances 2024 Official
              Selection.
            </p>
            <h3>I&rsquo;m a Patron Because…</h3>
            <p>
              For many young people, Film and television can be an integral part
              of who we are, how we perceive the world and finding relatability.
              They engage us and cause us to reflect and experience different
              emotions. This wasn’t an industry I felt was an option for me
              growing up in a small village in Fife but I want to encourage more
              young people to consider it as a viable career path.
            </p>
          </div>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
