---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import VimeoEmbed from "../components/VimeoEmbed.astro";
import YouTubeEmbed from "../components/YouTubeEmbed.astro";
import SwiperSlides from "../components/SwiperSlides.astro";
import Seo from "../components/Seo.astro";

const title = "Sean Connery Youth Talent Lab • Scottish Youth Film Foundation";
const description =
  "The Scottish Youth Film Foundation in partnership with The Sean Connery Foundation and the National Film and Television School are delighted to announce that in Summer 2025 they will be running The Sean Connery Youth Talent Lab.";
const permalink = "https://syff.scot/scytl/";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />
  </head>
  <body id="top">
    <Navigation />

    <header style="text-align: center">
      <img src="/img/scytl-hero-white.jpg" alt="Sean Connery Youth Talent Lab" />
    </header>

    <main id="content">
      <section class="container narrow">
        <h1 class="headline">Sean Connery Youth Talent Lab</h1>

        <p class="lede">
            The Scottish Youth Film Foundation in partnership with The Sean Connery Foundation and the National Film and Television School are delighted to announce that in Summer 2025 they will be running The Sean Connery Youth Talent Lab.
        </p>

        <p>The summer school will take place near Alness in the Highlands (close to Ardross Castle where &lsquo;The Traitors&rsquo; series is filmed) and will be free to all participants.</p>

        <p>Designed to mirror and complement the Sean Connery Talent Lab which is just coming to the end of its first year, the Youth Talent Lab will take the form of a week-long residential summer school where 12 participants will be guided through a compressed version of the adult Talent Lab.</p>

        <p>The Foundation are looking for the most talented young Scots in the areas of directing, writing, acting, camera and editing to produce two short films of 3-minutes in just a few days.</p>

      </section>

      <section
      class="container"
      style="background-color: var(--color-light-grey);"
    >
      <div class="grid links">
        <div>
          <img
            class="shadow"
            src="/img/connery-stage-syff.jpg"
            alt="The SYFF team visit The Sean Connery Stage at Pinewood Studios"
          />
          <p><small>SYFF staff at The Sean Connery Stage, Pinewood Studios</small>
          </p>
        </div>

        <div>
          <img
            class="shadow"
            src="/img/connery-stage-youths.jpg"
            alt="SYFF young people visit The Sean Connery Stage at Pinewood Studios"
          />
          <p><small>SYFF group at The Sean Connery Stage, Pinewood Studios</small>
          </p>
        </div>

      </div>
    </section>

    <section class="container narrow">
        <p><strong>Dates for the programme are 15th - 21st June 2025.</strong></p>

        <p>If you are aged 17-22 and are interested in applying, please click on the link below to download the application form.</p> 
 
        <p>The Youth Talent Lab aims to identify talented young Scots at an even earlier stage in their careers and support them in pursuing further education and opportunities as they enter the industry.</p>

        <p>Teaching staff will include professionals from the Scottish Youth Film Foundation, industry experts, and contributors from The Sean Connery Talent Lab, such as Chris Young and Alison Goring. The young film makers will also have the chance to learn from previous participants on what it takes to succeed as they try to break into the industry.</p>

        <p><a class="btn" href="/img/SCYTL%20Application%20Form%202025.docx">Download Application</a></p>
      </section>

      <!-- <figure class="container quote">
        <blockquote>
          <p>
            “We are honoured to be partnering NFTS and The Sean Connery Foundation in this project. SYFF has been promoting young talent since inception and this inititiative will help further identify and promote talented young film makers from across Scotland.”
          </p>
        </blockquote>
        <figcaption>&ndash; Scott Mackay, SYFF</figcaption>
      </figure> -->

      <!-- <figure class="container quote">
        <blockquote>
          <p>
            “Across the NFTS, we are dedicated to nurturing emerging filmmakers and creating pathways into the industry. The Sean Connery Youth Talent Lab presents an incredible opportunity to support young Scottish creatives at a crucial stage, equipping them with the skills, confidence and inspiration to pursue a future in filmmaking. Building on the success of the Sean Connery Talent Lab, we are proud to be part of this new initiative and excited to see the talent and creativity that will emerge over the summer.”
          </p>
        </blockquote>
        <figcaption>&ndash; Alison Goring, Head of NFTS Scotland</figcaption>
      </figure> -->

      <!-- <figure class="container quote">
        <blockquote>
          <p>
            “Our father was a self-taught professional who believed there’s no substitute for hands-on learning when mastering a craft. The Sean Connery Youth Talent Lab will give young Scots an immersive, practical environment to develop their skills, guided by passionate and dedicated mentors from SYFF. We’re thrilled to support this initiative, which will challenge young filmmakers to push themselves, collaborate, and take their talent to the next level.”
          </p>
        </blockquote>
        <figcaption>&ndash; Stephane and Jason Connery, The Sean Connery Foundation</figcaption>
      </figure> -->

      <section class="container narrow">
        <h2 class="text-center">Sean Connery Youth Talent Lab</h2>

        <SwiperSlides>
          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “We are honoured to be partnering NFTS and The Sean Connery Foundation in this project. SYFF has been promoting young talent since inception and this inititiative will help further identify and promote talented young film makers from across Scotland.”
                <span>- Scott Mackay, SYFF</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “Across the NFTS, we are dedicated to nurturing emerging filmmakers and creating pathways into the industry. The Sean Connery Youth Talent Lab presents an incredible opportunity to support young Scottish creatives at a crucial stage, equipping them with the skills, confidence and inspiration to pursue a future in filmmaking. Building on the success of the Sean Connery Talent Lab, we are proud to be part of this new initiative and excited to see the talent and creativity that will emerge over the summer.”
                <span>- Alison Goring, Head of NFTS Scotland</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “Our father was a self-taught professional who believed there&rsquo;s no substitute for hands-on learning when mastering a craft. The Sean Connery Youth Talent Lab will give young Scots an immersive, practical environment to develop their skills, guided by passionate and dedicated mentors from SYFF. We&rsquo;re thrilled to support this initiative, which will challenge young filmmakers to push themselves, collaborate, and take their talent to the next level.”
                <span>- Stephane and Jason Connery, The Sean Connery Foundation</span>
              </p>
            </blockquote>
          </div>
        </SwiperSlides>
        <div class="scf">
          <img
            src="/img/scf-logo.png"
            alt="Sean Sonnery Foundation logo"
          />
        </div>
      </section>

    </main>

    <Footer />
  </body>
</html>
