---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import VimeoEmbed from "../components/VimeoEmbed.astro";
import Seo from "../components/Seo.astro";

const title = "Story of SYFF • Scottish Youth Film Foundation";
const description =
  "Who are the Scottish Youth Film Foundation (SYFF)? Watch this short video to find out more about us- what inspired our founders to start the charity, who we work with and the impact of our activities on young people in Scotland.";
const permalink = "https://syff.scot/story-of-syff/";
const image = "https://syff.scot/img/syff-social-share.png";
const alt = "Scottish Youth Film Foundation";
const type = "article";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <Seo
      title={title}
      description={description}
      permalink={permalink}
      image={image}
      alt={alt}
      type={type}
    />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container narrow">
        <h1 class="headline">Story of SYFF</h1>
        <p class="lede">
          In 2023, we held an event at the Scottish Parliament to launch our
          partnership with The Sean Connery Foundation. This is the story of
          SYFF, so far...
        </p>

        <br />

        <VimeoEmbed videoId="833346056" />
      </section>
    </main>

    <Footer />
  </body>
</html>
